DB_NAME=database_name
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=sa-east-1
AWS_S3_BUCKET=backend-challenge-images
LOCALSTACK_ENDPOINT=http://localhost:4566

JWT_SECRET=change-this-secret
JWT_EXPIRATION=86400000

EXPERIENCE_LEVEL_BASE_XP=100
EXPERIENCE_LEVEL_MULTIPLIER=1.08
EXPERIENCE_CHECK_IN_PARTICIPANT_XP=25
EXPERIENCE_CHECK_IN_CREATOR_XP=5